@use "@/assets/styles/abstracts/variables" as *;
@use "@/assets/styles/abstracts/mixins" as *;

.btn {
  @include btn-base;
  color: #fff;
}

.primary {
  background-color: $btn-primary;

  &:hover {
    background-color: $btn-primary-hover;
  }
}

.danger {
  background-color: $btn-danger;

  &:hover {
    background-color: $btn-danger-hover;
  }
}

.ghost {
  background: none;
  color: $text-secondary;
  padding: 0;
  font-weight: 400;

  &:hover {
    color: $text-primary;
  }
}
