@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./base/typography";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: $board-bg;
}
